.backGround{
    background-color: aliceblue;
}
main img:hover{
    border: 7.5px solid #f7f7f7;
    transition: all 1s;
}

 #bloque img:hover{
    border: 7.5px solid #f7f7f7 ;
    transition: all 1s;
}
.cuartos{
    background-color: rgb(136, 215, 221);
 }
 
 div.cuartos h1{
     color: rgb(26, 127, 131);
 }
 
 article{
     background-color:rgb(1, 148, 158) ;
     img{width: 100%};
 }

 a.btn{
    background-color: rgb(255, 0, 0);
 }