@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}


h1{
    @include texto ($h1, $mainfontcolor);
}
h2{
    @include texto ($h2, $mainfontcolor);
}
p{
    @include texto ($p, #ffffff );
}

.fontw {
        font-weight: 800;
    }

.bold{
        color: black;
    }

div.cuartos h1{
    color: rgb(26, 127, 131);
}